# sui/move
build/
Move.lock

# os
.DS_Store
Thumbs.db

# env
.env
*.key
*.pem

# ides
.vscode/
.idea/
*.swp
*.swo

# JS/TS
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
